<div class="_verticalStretch">
  <header class="header">
    <div class="_bold">header block</div>
  </header>

  <main class="main">
    <div class="nn-container">
      <div class="_bold main__title">main block</div>
      <div class="draw">
        <div class="draw__background"></div>
        <!--<canvas id="canvasBackground" class="draw__background"-->
                <!--width="300" height="200" style="position: absolute; left: 0; top: 0; z-index: 1"></canvas>-->
        <canvas id="canvasRing" class="draw__ring"
                width="300" height="200" style="position: absolute; left: 0; top: 0; z-index: 2"></canvas>
      </div>

    </div>

  </main>

  <footer class="footer">
    <div class="_bold">footer block</div>
  </footer>

</div>